.footer-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 100px;
    overflow: hidden;
    border-top: 1px solid rgb(237, 239, 240);

    &-small {
        padding: 0 20px;
    }

    .block-1 {
        padding: 0 32px;
        padding-top: 32px;

        .list-item-footer {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
            padding-bottom: 60px;

            &-mobile {
                grid-template-columns: repeat(1, 1fr);
            }

            &-tabnet {
                grid-template-columns: repeat(3, 1fr);
            }

            .item-footer {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .title-footer {
                    color: #404145;
                    cursor: default;
                    font-weight: 700;
                }

                .mem {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .item-child {
                        span {
                            padding-bottom: 3px;
                            color: #74767e;

                            &:hover {
                                cursor: pointer;
                                padding-bottom: 3px;
                                border-bottom: 1px solid black;
                            }
                        }
                    }
                }

            }
        }
    }

    .block-2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        border-top: 2px solid rgb(237, 239, 240);
        padding-top: 30px;

        &-mobile {
            flex-direction: column;
        }


        &_left {
            display: flex;
            gap: 30px;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 30px;

            &_mobile {
                flex-direction: column;
                gap: 0px;
            }

            .block-2_right_child,
            .block-2_right_child_2 {
                flex-direction: row;
                display: flex;
                align-items: center;
                gap: 30px;
            }


            .check {
                display: flex;
                align-items: center;
                gap: 4px;
                justify-content: center;
                padding: 8px;
                border-radius: 16px;
                color: #74767e;

                &:hover {
                    cursor: pointer;
                    background-color: #f5f5f5;
                    border-radius: 54px;
                    color: #404145;
                    transition: background-color .2s;
                }
            }

            .icon {
                width: 30px;
                height: 30px;
                transition: 0.4s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;

                svg {
                    width: 18px;
                    height: 18px;
                    color: #74767e;
                }

                &:hover {
                    cursor: pointer;
                    background-color: #8080804f;
                }
            }

            .icon_human {
                border: 1px solid grey;
                width: 40px;
                height: 40px;
            }
        }
    }

}