.login-page {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    box-shadow: 0 15px 16.83px .17px rgba(0, 0, 0, .05);
    margin: 0 auto;
    width: 900px;
    max-width: 1200px;
    display: flex;
    gap: 30px;
    padding: 0 30px;
    margin-bottom: 50px;
    overflow: hidden;

    &-tabnet {
        display: flex;
        flex-direction: column-reverse;
        width: calc(100% - 10px);
        max-width: 100%;
    }

    .block-1 {
        padding: 50px 0;
        flex: 1;
        &-tabnet{
            img{
                width: 100%;
            }
        }
    }

    .block-2 {
        flex: 3;
        .title-sign-in {
            color: #1dbf73;
            font-weight: 700;
            padding-top: 20px;
            font-size: 24px;
            padding-bottom: 50px;
            &-tabnet{
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            }
        }

        .form-login {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .error {
                padding-left: 7%;
                color: red;
            }

            .text-email,
            .text-password {

                .text-email-child,
                .text-password-child {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 10px;

                    input {
                        height: 40px;
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }

            .button-authen {
                display: flex;
                justify-content: center;
                gap: 16px;

                .btn-login {
                    background: #1dbf73;
                    border: none;
                    border-radius: 50px;
                    color: #fff;
                    font-size: 16px;
                    font-weight: 500;
                    height: 45px;
                    text-transform: uppercase;
                    transition: all .3s ease-in-out;
                    width: 110px;
                    transition: 0.4s;

                    &:hover {
                        background: #188652 !important;
                        box-shadow: 2px 2px 4px 2px #d3d6d4;
                        color: #fff !important;
                        -webkit-transform: translateY(-5px);
                        transform: translateY(-5px);
                        cursor: pointer;
                    }
                }

                .btn-register {
                    color: #1dbf73;
                    font-size: 14px;
                    outline: none;
                    background: transparent;
                    border: none;
                    transition: 0.4s;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}